# API
EXPO_PUBLIC_API_URL=http://awseb-e-7-AWSEBLoa-8SHHN7GS1RDA-389774250.ap-southeast-2.elb.amazonaws.com/api

# Supabase (if needed)
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
